<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jy.mapper.AdminMapper">
  	
  	<select id="MemberList" resultType="com.jy.model.MemberVO">
  		
  		select * from(
  			select TMP.*, rownum RN from(
  				select * from jy_member order by createDt desc
  			)TMP
  		)where RN between #{begin} and #{end}
  		
  	</select>
  	
  	<select id="selectOne" resultType="com.jy.model.MemberVO">
  	
		select * from jy_member where memberId = #{memberId}  	
  	
  	</select>
  	
  	<update id="memberUpdate">
  		
  		update jy_member set memberPw = #{memberPw}, memberNickName = #{memberNickName} where memberId = #{memberId}
  	</update>
  	

  	<select id="count" resultType="int">
  	
  	select count(*) from jy_member
  	</select>
  	
  	<!-- 상품 목록 -->
  <select id="productList" resultType="com.jy.model.ProductDTO">
  	select product_no, product_name, product_price, product_stock from product
  </select>
  
  	<!-- 상품 조회 -->
  <select id="productSelectOne" resultType="com.jy.model.ProductDTO">
  	select * from product where product_no = #{productNo}
  </select>
  
  	<!-- 상품 등록 -->
  <insert id="productEnroll">
  	insert into product(product_no, product_name, product_price, product_discount, product_stock, product_description, product_cateCode)
  	values(product_seq.nextval, #{productName}, #{productPrice}, #{productDiscount}, #{productStock}, #{productDescription}, #{productCateCode})
  </insert>
  
  <update id="productUpdate">
  	
  	update product set product_name = #{productName}, product_price = #{productPrice}, product_discount = #{productDiscount}, product_stock = #{productStock},
  					   product_catecode = #{productCateCode} where product_no = #{productNo}
  	
  </update>
  
 
  <!-- 카테고리 리스트 -->
  <select id="cateList" resultType="com.jy.model.cateVO">
  	select * from product_cate order by cateCode
  </select>
  
  <select id="sequence" resultType="int">
  	
  	select product_seq.nextval from dual
  </select>
  
  	

  
  	
  </mapper>