<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jy.mapper.BoardMapper">
  
  	<insert id="enroll">
  		
  		insert into notice_board(bno,title,content,writer) values(notice_board_seq.nextval,#{title},#{content},#{writer})
  	</insert>
  	
  	<select id="boardList" resultType="com.jy.model.BoardVO">
  	
  	select * from notice_board order by bno desc
  	</select>
  	
  	<!-- 검색조건문 -->
  	<sql id="criteria">
  		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
  			<foreach collection="typeArr" item="type">
  				<trim prefix="OR">
  					<choose>
  						<when test="type == 'T'.toString()">
  							title like '%'||#{keyword}||'%'
  						</when>
  						<when test="type == 'C'.toString()">
  							content like '%'||#{keyword}||'%'
  						</when>
  						<when test="type == 'W'.toString()">
  							writer like '%'||#{keyword}||'%'
  						</when>
  					</choose>
  				</trim>
  			</foreach>
  		</trim>
  	</sql>
  	
  	<!-- 게시물 목록(페이징) -->
  	<select id="getListPaging" resultType="com.jy.model.BoardVO">
  	
  	<![CDATA[
  	
  		select bno,title,content,writer,regdate,updateDate from(
  			
  			select rownum as rn, bno, title, content, writer, regdate, updateDate 
  			
  			from notice_board where rownum <= #{pageNum} * #{amount}  
  			
  		
  	
  	]]>
  		<if test="keyword != null">
  			<include refid="criteria"></include> 
  		</if>
  		
  	<![CDATA[
  	) 
  			where rn > (#{pageNum} -1) * #{amount} 
  			
  	]]>
  	
  	</select>
  	
  	
  	
  	
  	<select id="selectOne" resultType="com.jy.model.BoardVO">
  	
  	select * from notice_board where bno = #{bno}
  	
  	</select>
  	
  	<update id="modify">
  	
  	update notice_board set title = #{title}, content = #{content}, updateDate = sysdate where bno = #{bno}
  	
  	</update>
  	
  	<delete id="delete">
  	
  	delete from notice_board where bno = #{bno}
  	
  	</delete>
  	
  	<select id="getTotal" resultType="int">
  	
  	select count(*) from notice_board
  	
  	<if test="keyword != null">
  		where bno > 0 <include refid="criteria"></include>
  	</if> 
  	
  	</select>
  	
  	<update id="updateReadCount">
  	
  	update notice_board set updateRead = updateRead + 1 where bno = #{bno}
  	</update>

  	
  </mapper>