<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jy.mapper.ProductMapper">
  
  <select id="selectList" resultType="com.jy.model.ProductDTO">
  	select * from product order by product_no desc
  </select>
  
  <insert id="enroll">
  	insert into product(product_no,product_name,product_price,product_stock,product_description)
  	values(product_seq.nextval, #{productName}, #{productPrice}, #{productStock}, #{productDescription})
  </insert>
  
  </mapper>